ul{
  list-style-type: square;
  background-color: blueviolet;
  margin: 1px;
  padding: 1px;
}

ol{
  list-style-type: upper-roman;
  list-style-position: inside;
}

li{
  border: 1px solid;
  background-color: yellowgreen;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}